In [47]:
nome = ['Jean, pietro, keylle, silva']
for i in nome:
    print(i)
    print(10)

Jean, pietro, keylle, silva
10

In [48]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [51]:
inicio = int(input('Digite o numero onde come√ßa a contagem: '))
fim = int(input('Digite o numero onde termina a contagem: '))
for i in range(inicio, fim +1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [52]:
for i in range(0,21):
    if i %2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [56]:
x = int(input('Digite o numero da tabuada: '))
x -int(x)
for num in range(1,11):
    print(f'{x} x {num} = {x *num}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30